@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNet.Identity
@using youtubeclone.Models
@model Tuple<List<FileModel>, List<PlaylistModel>, List<ChannelModel>>
@if (Model.Item1.Count() != 0)
{
    <div class="container">
        @foreach (PlaylistModel item in Model.Item2)
        {
            <h1>@item.playlist_name</h1>
        }

        <div class="container py-3">
            @foreach (FileModel item in Model.Item1)
            {
                <div class="card">
                    <div class="row text-left">
                        @using (Html.BeginForm("PlaylistVideos", "Home", FormMethod.Get))
                        {
                            <input type="number" name="VideoID" value="@item.video_id" style="display:none;visibility:hidden;" />
                            <input type="number" name="PlaylistID" value="@TempData["playlistid"]" style="display:none;visibility:hidden;" />

                            <hr />
                            <button class="row btn col-md-8" type="submit" id="btnVideo" style="margin-top:20px;background:transparent;">
                                <div class="col-md-5">
                                    <div class="video-section">
                                        <video style="width:250px;height:150px;" onmouseover="this.play()" onmouseout="this.pause();" muted="muted">
                                            <source class="player" src="@Url.Content(item.video_path)" type="video/mp4;codecs:'hvc1'" />
                                        </video>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card-block px-4 text-left" style="margin-left:20px;">
                                        <h4 class="card-title">@item.video_title</h4>
                                        <p>@TempData["user"]</p>

                                    </div>
                                </div>

                            </button>
                        }

                            @if (User.Identity.GetUserId() != null && User.Identity.GetUserId().Equals(item.Id))
                            {
                                <button class="btn btn-danger col-sm-1" style="margin-top:40px;padding:0px;" data-toggle="modal" data-target="#deletevideo">Delete</button>
                                <div id="deletevideo" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Delete Options</h4>
                                            </div>
                                            <div class="modal-body">
                                                @using (Html.BeginForm("DeleteVideo", "Home", FormMethod.Get))
                                                {
                                                    <input type="number" name="channelid" value="@item.channel_id" style="display:none;visibility:hidden;" required />

                                                    <input type="number" name="id" value="@item.video_id" style="display:none;visibility:hidden;" required />
                                                    <button class="btn btn-danger" type="submit" id="btnDelete" onclick="if (confirm('Are you sure you want to delete video titled @item.video_title permanently from your channel?')){return true;}else{event.stopPropagation(); event.preventDefault();};"> Delete Permanently</button>

                                                }
                                                <br />
                                                @using (Html.BeginForm("DeleteVideofromPlaylist", "Home", FormMethod.Get))
                                                {
                                                    <input type="number" name="id" value="@item.video_id" style="display:none;visibility:hidden;" required />
                                                    <button class="btn btn-danger" type="submit" id="btnDelete">Delete From Playlist</button>

                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <h1>No videos found!</h1>
}
